table,
th,
td {
    border: 1px solid black;
    /* padding: 5px; */
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    min-width: 100px;
}

tr {
    height: 34px;
}

td {
    width: 100px;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

/* .ActiveCell {
    border: 3px solid #2196f3;
} */

.ActiveCell span {
    border: 3px solid #2196f3;
}

/* .EditCell {
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.4);
    border: 3px solid #2196f3;
} */

.ActiveCell input {
    /* line-height: 18px;
    border: 0;
    padding: 5px;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em; */
    border: 0;
    padding: 3px;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #2196f3;
    height: 100%;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.4);
    z-index: 99; /* override border */
}

td span {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3px;
    font-size: 1.1em;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #ffffff;
}
